openai
yt_dlp
llama_index==0.6.6
transformers
datasets
sentencepiece
torch
ipadic
evaluate
pytest
accelerate
tensorflow
tensorflow_datasets
bitsandbytes
loralib

# 以下は事前にportaudioが必要
# brew install portaudio
pyaudio
SpeechRecognition

# 以下は事前にMeCabが必要
# brew install mecab
# brew install mecab-ipadic
mecab
jaconv
fugashi
unidic_lite